
<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.status %></td>
        <td><%= link_to 'Show', project_job_path(@project, job) %></td>
        <td><%= link_to 'Edit', edit_project_job_path(@project, job) %></td>
        <td><%= link_to 'Destroy', project_job_path(@project, job), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_project_job_path(@project), class: 'button hollow float-right' %>
<%= link_to 'Back', projects_path, class: 'button hollow float-left' %>
