    <tr>
      <td><%= project.id %></td>
      <td><%= project.title %></td>
      <td><%= link_to("Update", edit_project_path(project)) %></td>
      <td><%= link_to("Delete", project, method: :delete, data: { confirm: "Are you sure?" }) %></td>
      <td><%= link_to("Show", project) %></td>
      <td><%= link_to("Jobs", project_jobs_path(project)) %></td>
    </tr>
